doctype html
html
	head
		title SWETA DANCE ACADEMY
		style
			include ../static/style.css
	body
		nav#navbar
			ul
				div#logo
					img(src="/static/is.jpg")
					| HDA
				li #[a(href="/") HOME]
				li #[a(href="/") ABOUT]
				li #[a(href="/") SERVICES]
				li #[a(href="/") CONTACT US]
		section#intro
			div Welcome to SWETA's Dance Academy
			div.small EAT SLEEP DANCE REPEAT
		section#mission
			h2 Our Mission
			div.card
				h3 Dance Perfection
				div.card1
					div.cardimg
						img(src="/static/iss.jpg")
					div.con
						p This is the best dance academy in INDIA
			div.card
				h3 Dance the way you like
				div.card1
					div.cardimg
						img(src="/static/is.jpg")
					div.con
						p This is the best dance academy in INDIA

			div.card
				h3 Expert Teaching
				div.card1
					div.cardimg
						img(src="/static/isss.jpg")
					div.con
						p This is the best dance academy in INDIA

		section#sponser
			h3 OUR SPONSORS
		footer#footer
			our footer here
		script 
			include ../static/style.js