*{
margin:0;
box-sizing:border-box;
padding:0;}
#navbar{
background-color:black;
padding:3px 4px;}
#navbar ul{
display:flex;
flex-direction:row;
align-items:center;}
#navbar li a{
text-decoration:none;
padding:13px 30px;
color:white;
background-color:black;
font-size:1.1rem;
}
#navbar li a:hover{
color:red;}

#navbar li{
list-style:none;}
#intro{
background: center/cover no-repeat url("/static/bg.jpg");
flex-direction:column;
height:425px;
display:flex;
justify-content:center;
align-items:center;
font-weight:bold;
font-size:64px;
color:white;
}
#intro div.small{
font-size:27px;

}
#logo{
display:flex;
color:white;
align-items:center;
margin:0 14px;
}
#logo img{
height:42px;
}
#sponser{
height:300px;
background-color:grey;
}
#sponser h3{
text-align:center;
padding:10px 23px;}
#footer{
height:300px;
background-color:yellow;}
#mission{
height:340px;}
#mission h2{
text-align:center;
paddin-top:12px;}
.card{
border:2px solid black;
border-radius:20px;
display:inline-block;
width:30%;
margin:23px 21px;
height:200px;}
.card h3{
text-align:center;
margin:12px;}
.card1{
display:flex;
align-items:center;
justify-content:space-between;}
.cardimg{
height:131px;
padding:0 14px;
margin:5px 9px;}
.cardimg img{
height:inherit;}
.con{
padding:0 12px;
}
.con p{
font-size:19px;}